body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 0 10px navy;
    border-radius: 8px;
    padding: 5px 10px;
    background-color: grey;
    font-weight: 900;
    cursor: pointer;
}